{% extends 'base.html.twig' %}

{% block title %}App React{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="/build/app.css">
{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
{% endblock %}