.video-react-button.video-react-big-play-button.video-react-big-play-button-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: $pink;
}
.card-programme{
    max-width: 412px !important;
    margin: 10px;
    width: 100%;
}