@import "~bootstrap/scss/bootstrap";
@import 'root.scss';
@import 'register.scss';
@import 'home.scss';
@import 'loader.scss';
@import 'navbar.scss';
body{
    background-color : $black;
}
.min-opacity{
    opacity: 0.30;
}
.p-20{
    padding: 0 20em 0 20em;
}