@import "~bootstrap/scss/bootstrap";
@import 'root.scss';
@import 'register.scss';
@import 'home.scss';
@import 'loader.scss';
body{
    background-color : $black;
}
.navbar {
    border-bottom: 1px solid;
}
.min-opacity{
    opacity: 0.30;
}