.carousel{
    height: 40%;
    overflow: hidden;
    margin-top: -100px;
    margin-bottom: -100px;
    width: 100%;
    img{
        object-fit: cover;
        height: 800px;
    }
}
.icon-home{
    color: #fff;
}

.container-fluid{
    .home-page-card{
        background-color: #151515;
        color: #c4c0c0;
        transition: transform 0.5s;
        cursor: pointer;
        .card-body{
            .round{
                background: #ffe8e85e;
                padding: 15px 15px 15px 15px;
                border-radius: 50px;
                width: 90px;
                height: 90px;
                margin: auto;
            }
        }
    }
    .home-page-card:hover{
        transform: scale(1.1);
        .card-body{
            .round{
                background: linear-gradient(white,$pink);
            }
        }
    }
    .container-min{
        max-width: 1100px;
    }
    .presentation{
        margin-top: 150px;
        padding :100px;
        color: white;
        .media{
            margin: auto;
            width: 350px;
            border-radius: 500px;
            height: 350px;
        }
        .fitness{
            background: linear-gradient($pink, white);
            img {
                width: 350px;
            }
        }
        .fitness:hover{
            background: linear-gradient($blue, white);
        }
        .coach{
            background: linear-gradient($blue, white);
            img {
                width: 320px;
            }
        }
        .coach:hover{
            background: linear-gradient($pink, white);
        }
       
    }  
}
.voir-plus-coach{
        text-decoration: none;
        color: white;
        float: right;
}

